.title{
    height: 143px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    width: 100%;

    z-index: 1000;

    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.title_decoration_line{
    height: 3px;
    background-color: rgb(0,120,215);

    background-image: url("../RE/theme_color.png");
    background-size: cover;
    background-position: center;
}

.title_main{
    height: 90px;
    text-align: center;
    background-color: white;
}

.title_main_inside{
    height: 90px;
    display: inline-block;
    width: 1200px;
    overflow: hidden;
}

.title_main_inside_logo{
    height: 90px;
    width: 390px;
    background-image: url(../RE/logo_title.png);
    background-size: auto 60px;
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block;
    float: left;
}

.button{
    transition: all 0.1s;
    display: inline-block;
    border-radius: 3px;
}

.button:hover{
    background-color: rgb(0,120,215);
    color: white;
}

.button:active{
    scale: 97%;
}

.title_navs{
    height: 50px;
    background-color: rgb(0,120,215);
    text-align: center;

    background-image: url("../RE/theme_color.png");
    background-size: cover;
    background-position: center;
}

.title_navs_main{
    height: 50px;
    display: inline-block;
    overflow: hidden;
 }

.title_right_buttons{
    height: 30px;
    width: 300px;
    margin-top: 30px;
    float: right;
}

.college_home_page_link{
    height: 30px;
    width: auto;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    float: right;
    font-size: 15px;
}

.search_button{
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    font-size: 15px;
    line-height: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.search_box{
    width: 220px;
    height: 30px;
    background-color: rgb(230,230,230);
    margin-right: 5px;
    border-radius: 3px;
    position: relative;
    right: 3px;
}

#search_text_input{
    width: 165px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 5px;
    font-size: 15px;
    z-index: 501;
    position: relative;
}

.nav_button{
    height: 50px;
    width: 115px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    line-height: 50px;
    transition: all 0.1s;
    color: white;
    display: inline-block;
}

.nav_button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.nav_button:active{
    scale: 97%;
}

.footer{
    height: 230px;
    width: 100%;

    background-color: rgb(0,120,215);
    background-image: url("../RE/footer_background.jfif");
    background-size: cover;
    background-position: center;
}

.title_navs_menus{
    height: 0px;
    width: 100%;
    background-color: greenyellow;
    text-align: center;
}

.title_navs_menus_main{
    height: 0px;
    width: 1200px;
    display: inline-block;
    background-color: wheat;
    text-align: center;
}

.nav_menu{
    display: inline-block;
    color: white;
    overflow: hidden;
    width: 115px;
    visibility: hidden;


}

.nav_menu>ul{
    margin-top: 3px;
    border-radius: 3px;
    background-color: rgb(0, 85, 150);
    color: white;
}

.nav_menu>ul>li{
    width: 100%;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    transition: scale 0.1s;
    border-radius: 3px;
    font-size: 14px;
}

.nav_menu>ul>li:hover{
    background-color: rgb(10,95,160);
}

.nav_menu>ul>li:active{
    scale: 97%;
}

#nav_menu_1{
    visibility: hidden;
}

#nav_menu_3{
    visibility: hidden;
}

#nav_menu_10{
    visibility: hidden;
}

#nav_menu_2{
    position: relative;
    top: -180px;
}

#nav_menu_4{
    position: relative;
    top: -150px;
}

#nav_menu_5{
    position: relative;
    top: -210px;
}

#nav_menu_6{
    position: relative;
    top: -150px;
}

#nav_menu_7{
    position: relative;
    top: -240px;
}

#nav_menu_9{
    position: relative;
    top: -240px;
}

.gap1{
    height: 143px;
}

.banner{
    height: 500px;
    width: 100%;
    background-color: rgb(15,70,115);
    transition: all 1s;
    background-size: cover;
    background-position: center;
}

.banner_pic{
    height: 500px;
    background-image: url("../RE/banner/banner1.png");
    float: right;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.banner_title{
    display: inline-block;
    color: white;
    font-size: 16px;
    height: 250px;
    text-indent: 2em;
    transition: all 1s;
}

.banner_title_box{
    display: inline-block;
    height: 300px;
    margin-top: 100px;
}

.banner_control_box{
    width: 100%;
    height: 50px;

}

.banner_control_button{
    display: inline-block;
    height: 50px;
    width: 150px;
    float: left;
    border-radius: 3px;
    transition: all 0.1s;
    line-height: 50px;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.banner_control_button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.banner_control_button:active{
    scale: 97%;
}

#banner_control_button_1{
    float: left;
}

#banner_control_button_2{
    float: right;
}

.content{
    text-align: center;
}

.content_box{
    display: inline-block;
    text-align: left;
    width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}

.main_footer{
    height: 230px;
    width: 1200px;
    display: inline-block;
}

.footer{
    text-align: center;
    overflow: hidden;
}

.footer_decoration_line{
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 150px;
    float: left;
    margin: 40px 40px;
    margin-top: 40px;
}

.footer1{
    height: 230px;
    width: 390px;
    float: left;

    background-image: url("../RE/logo_title_white.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: inline-block;
}

.footer_text{
    color: white;
    text-align: left;
    line-height: 35px;
    font-size: 15px;
}

#footer_text_top{
    margin-top: 45px;
}

.footer2{
    display: inline-block;
    float: left;
}

.footer3{
    height: 230px;
    width: 200px;
    float: right;
    background-image: url("../RE/lcuscwechatqrcode.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
}

.footer_background{
    width: 100%;
    height: 230px;
    background-image: url("../RE/theme_color_with_op_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#search_default_text{
    display: inline-block;
    position: relative;
    z-index: 500;
    font-size: 15px;
    line-height: 30px;
    right: 61px;
    bottom: 30px;
    color: gray;
}

body{
    opacity: 1;
    transition: opacity 0.3s;
    overflow-x: hidden;
}

.banner_pic_tran{
    position: absolute;
    z-index: 600;
    height: 500px;
    float: right;
    right: 0px;
    top: 143px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0;
}

.content_main{
    width: 100%;
    display: inline-block;
}

.current_location{
    height: 30px;
    color: gray;
    font-size: 15px;
}

.current_location>span{
    line-height: 30px;
}

.content_box{
    padding-top: 50px;
    padding-bottom: 50px;
}

.location_button{
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    transition: all 0.1s;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
}

.location_button:hover{
    background-color: rgb(230,230,230);
    color: black;
}

.location_button:active{
    scale: 97%;
}

.content_title{
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    padding-bottom: 30px;
}

.hr{
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin-top: 3px;
    margin-bottom: 3px;
}

.content_text{
    padding-top: 30px;
    padding-bottom: 30px;
    word-break: break-all;
    line-height: 40px;
}

.content_text>.content_text_p{
    text-indent: 2em;
}

.content_p_for_image{
    text-align: center;
}

.content_p_for_image>img{
    width: 300px;
}

.content_time{
    width: 100%;
    height: 30px;
    color: gray;
}

.content_text_p_center{
    text-align: center;
}

.content_sidebar{
    width: 270px;
    display: inline-block;
    height: 100px;
    position: fixed;
}

#content_main_with_sidebar{
    float: right;
}

.content_sidebar_title{
    height: 50px;
    background-color: rgb(15,70,115);
    line-height: 50px;
    color: white;
    font-size: 30px;
    padding-left: 20px;
    border-radius: 3px;
}

.content_sidebar_button{
    height: 35px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    transition: all 0.1s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-image: url("../RE/hoverarticledec.png");
}

.content_sidebar_button:hover{
    background-color: rgb(230,230,230);
}

.content_sidebar_button:active{
    scale: 97%;
}

.content_sidebar_button_decoration_line{
    height: 20px;
    width: 10px;
    background-color: rgb(15,70,115);
    position: relative;
    top: 7.5px;
    display: inline-block;

}

.content_sidebar_button>p{
    display: inline-block;
    line-height: 35px;
    width: 250px;
    float: left;
    text-indent: 1.2em;
}

.content_list_title{
    text-align: right;
    padding-top: 30px;
    font-size: 35px;
    padding-bottom: 30px;
    word-break: break-all;
}

.content_list_title>p{
    font-size: 30px;
}

.content_list_article_item{
    height: 80px;
    padding: 10px 10px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.1s;
    background-image: url("../RE/black.png");
    padding-left: 25px;
}

.content_list_article_item>.p1{
    font-size: 25px;
    cursor: pointer;
}

.content_list_article_item>.p2{
    color: gray;
}

.content_list_article_item:hover{
    color: rgb(15,70,115);
    background-image: url("../RE/hoverarticledec.png");
}

.content_list_text_page_control{
    height: 30px;
    text-align: right;
    margin-bottom: 10px;
}

.content_list_text_page_control_button{
    display: inline-block;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    transition: all 0.1s;
    font-size: 15px;
    color: gray;
    line-height: 30px;
    cursor: pointer;
}

.content_list_text_page_control_button:hover{
    background-color: rgb(230,230,230);
    color: black;
}

.content_list_text_page_control_button:active{
    scale: 97%;
}

.footer_small{
    height: 400px;
}

.footer_background_small{
    height: 400px;
    color: white;
    font-size: 14px;
    line-height: 30px;
}

.footer1_small{
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50px;
    background-image: url("../RE/logo_title_white.png");
}

.footer2_small{
    height: 150px;
    width: 100%;
    background-image: url("../RE/lcuscwechatqrcode.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.title_small{
    height: 143px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 20000;
}

.title_decoration_line_for_small_title{
    height: 60px;
    text-align: center;
}

.title_small_main{
    height: 83px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../RE/logo_title.png");
    background-size: auto 50px;
}

.title_small_top_button{
    height: 60px;
    width: 60px;
    display: inline-block;
    background-size: 40px auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    transition: all 0.1s;
}

.title_small_top_button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.title_small_top_button:active{
    scale: 97%;
}

.tstb_l{
    float: left;
    background-image: url("../RE/caidan.png");
}

.tstb_m{
    background-image: url("../RE/shouye.png");

}

.tstb_r{
    float: right;
    background-image: url("../RE/sousuo.png");
}

.title_small_menu{
    position: fixed;
    width: 100%;
    top: 60px;
    transition: height 0.5s;
    background-color: white;
    overflow: hidden;
    height: 0px;
}

.title_small_menu_item{
    height: 40px;
    background-color: rgb(15,70,115);
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    line-height: 40px;
    transition: all 0.1s;
}

.title_small_menu_item:hover{
    background-color: rgb(21, 99, 164);
}

.title_small_menu_item:active{
    scale: 97%;
}

.title_small_menu_subitem_box{
    overflow: hidden;
    transition: all 0.5s;
    height: 0px;
}

.title_small_menu_subitem{
    background-color: rgb(230,230,230);
    line-height: 35px;
    height: 35px;
    font-size: 15px;
    color: black;
    padding-left: 30px;
    transition: all 0.1s;
}

.title_small_menu_subitem:active{
    scale: 97%;
}

.title_small_menu_subitem_box{
    transition: all 0.5s;
}

.content_list_text_page_control_button_current_page_number:hover{
    background-color: white;
    cursor: unset;
    color: gray;
}

.content_list_text_page_control_button_current_page_number:active{
    scale: 100%;
}