.title{
    width: 100%;
    height: 160px;
    background-color: #185169;
    padding-top: 30px;
}

.title_main{
    height: 130px;
    margin: 0 auto;
}

.title_main>img{
    height: 100px;
    display: inline-block;
}

.title_main>a{
    color: white;
    float: right;
    font-size: 16px;
}

.search{
    float: right;
    height: 39px;
    width: 176px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin-top: -60px;
}

.search>img{
    float: right;
    height: 27px;
    margin-top: 6px;
    margin-right: 9px;
}

.search>input{
    float: right;
    width: 129px;
    background-color: rgba(255, 255, 255, 0);
    height: 15px;
    margin-top: -18px;
    z-index: 10;
    color: rgb(22,80,104);
}

.search>p{
    font-size: 14px;
    color: rgb(22,80,104);
    float: left;
    margin-top: 9px;
    margin-left: 10px;
    z-index: 9;
}

.nav{
    height: 69px;
    background-color: #11485f;
}

.nav_main{
    height: 69px;
    margin: 0 auto;
}